<div class="main">
  <div class="row">
    <nav class="navbar px-3 d-flex justify-content-between">
      <div class="container-fluid ">
        <a class="navbar-brand " style="font-weight: 900;"><i class="bi bi-joystick"></i></a>

        <div> <a class="text-decoration-none text-light" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><svg xmlns="http://www.w3.org/2000/svg"
              width="40" height="40" fill="#475569" class="bi bi-list" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
            </svg></a>
          <div class="offcanvas offcanvas-start " style="width:100%;background-color: #0f172a;" tabindex="-1"
            id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header text-center">
              <h5 class="offcanvas-title text-center" id="offcanvasRightLabel">Wellcome <span class="text-warning fw-bold">  {{displayName}}</span> </h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body  justify-content-center">
              <div>
                <div class=" align-items-start">
                  <div class="nav flex-column nav-pills p-3" id="v-pills-tab" role="tablist"
                    aria-orientation="vertical">
                    <button data-bs-dismiss="offcanvas" aria-label="Close" class="nav-link bdbtn  mb-1 text-light "
                      id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button"
                      role="tab" aria-controls="v-pills-home" aria-selected="true" routerLink="/">Home</button>
                    <button *ngIf="this.isAdmin" data-bs-dismiss="offcanvas" aria-label="Close"
                      class="nav-link bdbtn  mb-1 text-light" id="v-pills-profile-tab" data-bs-toggle="pill"
                      data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
                      aria-selected="false" routerLinkActive="active fw-bold" routerLink="admin">Dashboard</button>
                    <button data-bs-dismiss="offcanvas" aria-label="Close" class="nav-link bdbtn  text-light mb-1"
                      id="v-pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#v-pills-disabled" type="button"
                      role="tab" aria-controls="v-pills-disabled" aria-selected="false"
                      routerLinkActive="active fw-bold" routerLink="cart">Cart</button>
                    <div class="d-flex mx-1  mt-3 p-2 align-items-center ">
                      <button data-bs-dismiss="offcanvas" aria-label="Close" *ngIf="!isUser"
                        class="nav-link bdbtn bg-success me-1 text-light" id="v-pills-messages-tab"
                        data-bs-toggle="pill" type="button" role="tab" aria-controls="v-pills-messages"
                        aria-selected="false" routerLinkActive="active fw-bold" routerLink="login">Sign in</button>
                      <button data-bs-dismiss="offcanvas" aria-label="Close" *ngIf="!isUser"
                        class="nav-link bdbtn border border-success text-dark bg-light  text-light"
                        id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button"
                        role="tab" aria-controls="v-pills-settings" aria-selected="false"
                        routerLinkActive="active fw-bold" routerLink="signup">Sign up</button>
                      <button data-bs-dismiss="offcanvas" aria-label="Close" *ngIf="isUser" (click)="logOut()"
                        class="mt-3 nav-link bdbtn bg-danger text-white" id="v-pills-settings-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false" routerLinkActive="active fw-bold" routerLink="signup">Sign out </button>
                    </div>

                  </div>
                  <style>
                    .bdbtn {
                      margin-bottom: 2rem;
                      background-color: #4755693b;
                    }

                    .bdbtn:focus {
                      margin-bottom: 2rem;
                      background-color: #2f2b2b;
                    }

                    .nav-pills .nav-link.active,
                    .nav-pills .show>.nav-link {
                      background-color: #354864;
                      color: whitesmoke;

                    }
                  </style>

                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col-12 mt-3">
          <router-outlet></router-outlet>
        </div>
      </div>
      <style>
        li {
          list-style: none;
          margin: 20px 0;
        }

        ul {
          display: flex;
          justify-content: center;
          align-items: center;

        }

        .cartNum {
          background-color: rgba(173, 52, 52, 0.91);
          padding: 1px 6px;
          border-radius: 18px;
          top: -5px;
        }

        .icon-title {
          visibility: hidden;
        }



        li a {
          font-size: 13px;
          letter-spacing: 1px;
          text-transform: uppercase;
          font-weight: 500;
        }

        li a :focus {
          background-color: cornflowerblue;
          margin: 0 10px;
          border-radius: 11px;
        }
      </style>
