<div class="container  ">

  <div id="logo" class="p-5 mx-md-5" style="border-radius:20px">
    <div *ngIf="errorMsg != ''" class="alert alert-danger text-dark fw-bold" role="alert">
      {{'Email or Password incorrect'}}
    </div>
    <div class="row  d-flex justify-content-center align-items-center align-content-center">
      <div class="col-md-6 col-12">
        <div class="fw-bold fs-1 lead display-2 text-center mb-4">
          <div>Login</div>

        </div>
        <form class="d-grid gap-2" #User="ngForm" (ngSubmit)="onSignIn(User)">
          <input class="form-control bg-transparent mb-3" required type="email" name="email" ngModel
            placeholder="Your Email">
          <input class="form-control bg-transparent  mb-3" #password required type="password" name="password" ngModel
            placeholder="Your password">
          <button [disabled]="User.invalid " class="btn bg-danger text-light">Login</button>
          <div class="p-3">
            <a class="text-light">Forget password ?</a>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<style>


  input {
    background-color: #475569;
    border: 1px solid #dbdedfcf
  }

  input:focus {
    background-color: #475569;
    border: 1px solid #dbdedfcf;
    color: #dbdedfcf;
  }

  * {
    color: #dbdedfcf;
  }

  input {
    color: #dbdedfcf;

    background-color: #dbdedfcf;

  }

  #logo {
    background-color: #47556900;
  }
</style>
